body {
    font-family: helvetica, arial, sans-serif;
    margin: 0px;
    font-size: 1.5 vw;
}

h1{
    font-family: "Permanent Marker" sans-serif;
    padding: 8 px;
    margin: 0px;
    width: 16%;

}

    
ul {
    margin: 0px
}
body > header {
    background-color: rgb(4, 154, 229);
    color: white;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;

}

#nav-ul{
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}
.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}
body > main article {
    width: 80%;
    margin: auto;

}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%

}


form {
    text-align: center;
}
h2 { 
    text-align: center;
}
body > footer {
    background-color: rgb(4, 154, 229);
    display: flex;

}

footer {
    color: black;
}

#footer-ul{
    display: flex;
    list-style: none;
   

}

#footer-ul > div > li {
    margin-left: 12px;
}
#footer-ul > div > li> a { 
    color: white;
    text-decoration: none;
}


.feta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .korma {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .lasagna {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .dessert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  footer > h2 {color:white;}

      